@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: url("Bg.jpg");
}

nav {
  font-family: "Open Sans", sans-serif;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 76px;
    background-color: rgb(16, 16, 16);
    color: white;

    img {
      width: 64px;
    }
  }

  li {
    padding: 0 20px;
    font-size: 1.25rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.7rem;
}

// mid container div

.container {
  min-height: 77vh;
  color: white;
  display: flex;
  margin: 20px auto;
  width: 60%;
  border-radius: 20px;
  padding: 20px 30px;
  overflow: hidden;
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.songList{
  h1{
    margin: 25px 0px;

    
  }
}

.songs {
  display: flex;
  height: 50px;
  width: 400px;
  background-color: #67738b;
  color: black;
  margin: 22px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;

  .songPlay {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  img {
    width: 43px;
    margin: 0 12px;
  }

  i {
    margin-right: 12px;
    margin-left: 10px ;
  }
  .timeStamp {
    display: flex;
    align-items: center;
  }
}

// Bottom div

.footer {
  position: sticky;
  bottom: 0;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.627);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #progressBar {
    width: 80vw;
  }

  .icon {
    margin: 6px;

    i {
      cursor: pointer;
      color: rgb(255, 255, 255);
      margin-top: 10px;
    }
  }
}

.songGif{
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
  left: 9.8vw;
  margin-top: 10px;

  img{
    border-radius: 30%;
    margin-right: 15px;
    width: 60px;
    height: 40px;
    opacity: 0;
    transition: opacity 1s ease-in;
  }
}
